@{
    ViewBag.Title = "Contact us";
}
@section Styles{
    <link href="~/Content/ContactUs.css" rel="stylesheet" type="text/css" />
}
<div class="formContainer">
    <form action="">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." class="inputText">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." class="inputText">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="ukraine">Ukraine</option>
            <option value="russia">Russia</option>
            <option value="belarus">Belarus</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit" class="inputSubmit">

    </form>
</div>