@{
    ViewBag.Title = "Site map";
}
<style>
    li {
        margin-top:50px;
        font-family: 'Comic Sans MS';
        font-size: 20px;
    }
</style>
<ul>
    <li>Home</li>
    <li>All courses</li>
    <li>My courses</li>
    <li>Profile</li>
</ul>
